{{define "content"}}
<h1>Admin</h1>
<ul class="grid">
    <li><a href="/admin/access">Access queue</a> <span class="who">{{.Stats.Pending}} pending</span></li>
    <li><a href="/admin/users">Users</a></li>
    <li><a href="/admin/skaters">Team Skaters</a> <span class="who">{{.Stats.Skaters}} skaters</span></li>
    <li><a href="/admin/articles">Articles</a> <span class="who">{{.Stats.Articles}} total</span></li>
    <li><a href="/admin/spot">Spot</a></li>
    <li><a href="/admin/pages">Pages</a></li>
    <li><a href="/videos">Videos</a> <span class="who">{{.Stats.Videos}} clips</span></li>
</ul>
{{end}}
