{{define "content"}}
<h1>Admin</h1>
<ul class="grid">
    <li><a href="/admin/access">Access queue</a> <span class="who">{{.Stats.Pending}} pending</span></li>
    <li><a href="/admin/users">Users</a></li>
    <li><a href="/admin/skaters">FS Team</a> <span class="who">{{.Stats.Skaters}} skaters</span></li>
    <li><a href="/admin/articles">News</a> <span class="who">{{.Stats.Articles}} total</span></li>
    {{if .User.Host}}<li><a href="/admin/spot">Spot</a></li>
    <li><a href="/admin/episodes">Episodes</a></li>{{end}}
    <li><a href="/admin/pages">Pages</a></li>
    <li><a href="/admin/forum/sections">Forum sections</a></li>
    <li><a href="/videos">Videos</a> <span class="who">{{.Stats.Videos}} clips</span></li>
</ul>
{{end}}
